[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip setuptools wheel",
  "python -m pip install --no-cache-dir -r requirements.txt"
]

[start]
cmd = "python -m uvicorn api:app --host 0.0.0.0 --port $PORT"

