body {
    background-image: url('Love-Island-web.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    color:antiquewhite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#rizzInput {
    width: 200px;
    height: 20px;
    left: 30px;
    margin-top: 340px;
    margin-right: 500px;

}
.button {
    bottom:50px;
    left: 30px;
    margin-top: 100px;

}